
body {
    background-color: #85B79D;
}
ul {
  width: 900px;
  height: 1000px;
  background-color: ;
  overflow: hidden;
  margin: 0px;
  padding: 0;
  margin: 0 auto;
}

li {
  background-color: #832161;
  display: block;
  margin: 40px;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: left;
  box-shadow: black 5px 5px 10px;
  background-size: 100%;
}

a {
  margin-top: -40px;
  height: 200px;
  display: block;
  font-size: 20px;
  text-align: center;
  color: #832161;
  font-family: "courier new";
  letter-spacing: 2px;
}

#a00 {
background-image: url(img/a00.png);
background-size: 100%;
}

#a01 {
background-image: url(img/a01.png);
background-size: 100%;
}
#a02 {
background-image: url(img/a02.png);
background-size: 100%;
}
#a03 {
background-image: url(img/a03.png);
background-size: 100%;
}
#a05 {
background-image: url(img/a05.png);
background-size: 100%;
}
#a06 {
background-image: url(img/a06.png);
background-size: 110%;
}

#a07 {
background-image: url(img/a07.png);
background-size: 110%;
}
#a08 {
background-image: url(img/a08.png);
background-size: 110%;
}

