body {
background: #fff;
margin: 0;
padding: 0;
font-family: 'Spartan', sans-serif;
}

.fondo {
  background: #000;
  height: 1269px;
  padding-left: 0;
  margin-top: 0;
  position: absolute;
}

.fondo li {
  color: #fff;
  margin-left: 0;
  list-style: none;
  font-size: 14px;
  line-height: 65px;
  font-weight: bold;
  display: inline;
}

 #marou {
  font-size: 18px;
  margin-left: -20px;
  letter-spacing: 2px;
 }

.img_portada {
  position: relative;
  top: 60px;
}

.tableta {
  position: relative;
  top: 87px;
}

.img_portada img:hover {
  filter: none;
}

img:hover{
  filter: opacity(70%);
}

li a:visited {
  decoration: none;
  color: #000;
}

.pastilla_nombres {
  background: #fff;
  height: 60px;
  position: relative;
  top: 112px;
  padding-left: 0;
}

.pastilla_nombres li {
  color: #000;
  font-size: 18px;
  height: 60px;
  line-height: 65px;
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
}

.tableta_2 {
  position: relative;
  top: 132px;
}

.pastilla_nombres_dos {
  background: #fff;
  height: 60px;
  position: relative;
  top: 142px;
  padding-left: 0;
}

.pastilla_nombres_dos li {
  color: #000;
  font-size: 18px;
  height: 60px;
  line-height: 65px;
  font-weight: bold;
  text-align: center;
}

#tenguang80 {
  font-size: 16px;
  margin: 0;
}

.pastilla_cookies {
  background: #fff;
  height: 30px;
  position: relative;
  top: 142px;
  padding-left: 0;
}

 .pastilla_cookies li {
  color: #000;
  font-size: 12px;
  line-height: 35px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.redes {
  position: relative;
  top: 130px;
  height: 40px;
}

.redes img {
margin: 5px 25px;
padding: 0;
}

/* pág producto */

#marou a:visited {
  color: #fff;
}

a:link {
  text-decoration: none;
}

.pastilla_sup {
  background: #fff;
  height: 60px;
  position: relative;
  top: 60px;
}

.cacao {
  margin-top: 90px;
}

#lambong {
  font-size: 30px;
  color: #fff;
  position: relative;
  top: 90px;
  font-weight: bold;
}

#lambong p {
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  color: #fff;
  font-weight: lighter;
  position: relative;
  margin: 0;
  padding-top: 40px;
}

.pastilla_frase {
  background: #fff;
  height: 60px;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
}

.pastilla_frase h1 {
  font-size: 18px;
  font-family: 'Spartan', sans-serif;
  color: #000;
  font-weight: bold;
  line-height: 35px;
}

.title_tableta {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.frase {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.choco {
  position: absolute;
  top: 720px;
}

.choco img {
  margin-top: 20px;
  margin-bottom: 20px;
}



 .pastilla_cookies_2 {
   background: #fff;
   height: 30px;
   position: relative;
   top: 0px;
   padding-left: 0;
 }

 .pastilla_cookies_2 li {
  color: #000;
  font-size: 12px;
  line-height: 35px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.redes_2 {
  position: relative;

  height: 40px;
}

.redes_2 img {
margin: 5px 25px;
padding: 0;
}

/* .cacao {
  background: green;

}

 .cacao img:hover {
  filter: brightness(110%);
}

#cacaoimg {
  height: 381px;
}

#cacaoimg:hover {
  filter: brightness(110%);
}

  #title_1 {
  font-size: 24px;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}

.texto {
  line-height: 24px;
  color: #fff;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.brand:visited {
  color: #fff;
}

.frase {
  height: 60px;
  padding: 0;
  margin: 0;
}

.frase li {
  font-size: 25px;
  font-family: 'Spartan', sans-serif;
  color: #000;
  font-weight: bold;
  line-height: 65px;
}

.pastilla_frase {
  background-color: #000;
  height: 90px;
  list-style: none;
  margin: 0;
}

#promo_choc {
  color: #fff;
  font-size: 32px;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  line-height: 100px;
}

#frase_marou {
  color: #fff;
  margin-top: 10px;
  font-size: 72px;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
} */
