body {
  color: white;
  font-family: 'Helvetica', sans-serif;
  background-color: #222;
}

h2 {
  font-size: 14px;
  }

h3,p {
  font-size: 11px;
  display: inline-block;
}
p {
  float: right;
  }

  h1{
    font-size: 22px;
  }

  @media screen and (max-width:640px) and (orientation:portrait) {
    body{

    }
