/* movil verticales */
@media screen and (max-width:640px) and (orientation:portrait){

body {
  background-color: red;
}
}

/* movil apaisado */
@media screen and (max-width:640px) and (orientation:landscape){

body {
  background-color: red;
}
}

/* tablets verticales */
@media screen and (min-width:641px) (and-width:1200px) and (orientation:portrait){

body {
  background-color: green;
}
}

/* * tablets apaisado */
@media screen and (min-width:641px) (and-width:1200px) and (orientation:landscape){

body {
  background-color: green;
}
}

/* escritorio */
@media screen and (min-width:1200px) {
body {
background-color: yellow;

}
}
