body {
  margin: 0;
  padding: 100px;
}

div {
  overflow: visible;
  position: relative;
}

.esquerra {
  float: left;
  clear: left;
}

.dreta {
  float: right;
  clear: right;
}


.cap {
  width: 470px;
  height: 470px;
  background-color: #fdddca;
  margin: -10px auto;
  border-radius: 200px 200px 300px 300px;

}

/* color pelo #633a34 */

.pel {
  width: 510px;
  height: 100px;
  background-color: #633a34;
  border-radius: 200px 200px 100px 300px / 100px 100px 0 0;
  left: -10px;
  top: -10px;
}

.flequillo.esquerra {
  width: 130px;
  height: 640px;
  background-color: #633a34;
  position: absolute;
  z-index: 100;
  border-radius: 400px 0 400px 50px;
  left: -40px;
  top: 30px;
  visibility: ;

}

.flequillo.dreta {
  width: 100px;
  height: 600px;
  background-color: #633a34;
  position: absolute;
  right: -30px;
  top: 80px;
  z-index: 100;
  border-radius: 10px 40px 0 500px;
  visibility: ;
}

.ulls {
  width: 470px;
  height: 300px;
  background-color: #fdddca;
  clear: both;
  border-radius: 100px 100px 90px 90px;

}

.celles {
  height: 30px;
  clear: both;
  background: ;
}

.cella {
  width: 125px;
  height: 18px;
  border-top: solid 15px #633a34;  animation: dalt 3s;
}

.cella.esquerra {
  margin-top: 40px;
  margin-left: 55px;
  border-radius: 35px 10px 0px 10px;

}

.cella.dreta {
  margin-top: 40px;
  margin-right: 50px;
  border-radius: 10px 35px 10px 0;
}


.parpelles{
  height: 80px;
  background-color:;
  margin:0;

}

.parpella{
  width: 90px;
  height: 90px;
  background-color: white;
  transform: rotate(45deg);
  border-radius: 100% 8px;
  box-shadow: -2px 0 black;
  position: relative;
  margin: 0 70px;
}

.pestanyes {
  height: 100px;
  background-color:;
  margin: 0 75px;
}

.pestanya {
  height: 60px;
}

.irisos {
  height: 50px;
  background-color: ;
}

.iris {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: radial-gradient(brown,#c06e1b 60%);
  position: relative;
  margin: -125px 95px;
}

.pupiles {
  height: 50px;
  background-color: ;
}

.pupila {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  margin: -150px 108px;
}

.orelles {
  height: 100px;
  background-color:;
}

.orella {
  height: 100px;
}

.nas {
  top: -200px;
  height: 20px;
  background-color: ;
}

.foratnas {
  height: 15px;
  width: 15px;
  border-radius: 0 100px 0 100px;
  opacity: 30%;
  background-color: brown;
}

.foratnas.esquerra {
  left: 210px;
  transform: rotate(65deg);
}

.foratnas.dreta {
  right: 210px;
  transform: rotate(25deg);
}


/* .boca {
  height: 10px;
  width: 100px;
  background-color: pink;
  bottom: 150px;
  left: 190px;
  border-radius: 20px 20px 0px 0px;
} */

.boca {
  height: 40px;
  width: 110px;
  background-color: pink;
  border-radius: 0px 0px 80px 60px;
  bottom: 140px;
  left: 180px;
  animation: mouth 5s;
}

.ulls .esquerra {
  left: 20px;
}

.ulls .dreta {
  right: 30px;
}

@keyframes dalt {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}


@keyframes mouth {

from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
